body {
}


.itemsbutton {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid black;
}

.shopbutton {
    background-color: #ff0000;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid black;
    transition: all 0.5s ease;
}

.mySlidesLeft {
    margin: auto;
    margin-top: 12%;
    width: 300px;
    height: 250px;
}

.mySlidesRight {
    margin: auto;
    margin-top: 12%;
    width: 300px;
    height: 250px;
}

.leftSlide {
    width: 500px;
    height: 350px;
    margin-left: 130px;
    margin-right: auto;
    float: left;
    background-color: #7B0000;
    border-radius: 10px;
}

.rightSlide {
    width: 500px;
    height: 350px;
    margin-left: auto;
    margin-right: 170px;
    float: right;
    background-color: #7B0000;
    border-radius: 10px;
}

.ytvideo {
    position: relative;
    top: 0px;
    margin-left: 20%;
    height: 300px;
    width: 60%;
    margin-top: 150px;
}

.website {
    align-content: center;
    margin-left: 20%;
    margin-top: 5%;
    height: 300px;
    width: 60%;
}

.websiteanchor {
    text-align: center;
    margin-left: 20%;
    margin-top: 5%;
}

.iframe-container {
    position: absolute;
    margin-top: 100px;
    border: 2px solid black;
}

#website:visited {
    color: firebrick;
}

#redshopnowbutton:hover {
    background-color: #CC0000;
}

#greycheckoutbutton:hover {
    background-color: black;
}


/*these keyframes make an animation that looks like the button is shaking by changing the roation back and forth*/
@keyframes homebutton {
    0% {
        transform: rotate(0deg);
    }

    12.5% {
        transform: rotate(20deg);
    }

    25% {
        transform: rotate(-20deg);
    }

    37.5% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(-20deg);
    }

    62.5% {
        transform: rotate(20deg);
    }

    75% {
        transform: rotate(-20deg);
    }

    87.5% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
