nav {
  padding: 1%; }

.Bar {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: font-size .35s ease-in-out; }
  .Bar:hover, .Bar:active {
    background-color: #9FA615;
    color: black; }

@keyframes logoanimation {
  0% {
    transform: scale(1, 1); }
  25% {
    transform: translateY(20px); }
  50% {
    transform: translateY(20px); }
  75% {
    transform: translateY(20px); }
  100% {
    transform: scale(1, 1); } }

.TopNav {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden; }
  .TopNav .Current {
    background-color: #9FA615;
    color: black; }
  .TopNav .LogoAnchor {
    height: 6em;
    flex-basis: 20%;
    background-color: transparent;
    padding-top: 0em; }
  .TopNav .LogoImage {
    max-width: 80%;
    max-height: 80%;
    animation-name: logoanimation;
    animation-duration: 2s; }
  .TopNav a {
    color: #f2f2f2;
    text-align: center;
    padding: 0.6em 0.7em;
    text-decoration: none;
    font-size: 1.5em;
    flex: 1;
    background-color: #455560; }

.GradientSwoop {
  height: 16em;
  background: linear-gradient(to left, #455560 70%, #9FA615);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.InnerSwoop {
  background-color: white;
  height: 200px;
  border-bottom-left-radius: 75px; }

@media screen and (max-width: 800px) {
  .information {
    flex-direction: column; } }

@media screen and (min-width: 631px) {
  .Bar {
    margin-top: 1.5em; }
  .TopNav a {
    height: 1.6em; }
  .LogoImage {
    width: 8em;
    height: 5.3em; }
  .Bar {
    border-radius: 0px; }
  .RoundedLeft {
    border-radius: 10px 0px 0px 10px; }
  .RoundedRight {
    border-radius: 0px 10px 10px 0px; } }

@media screen and (max-width: 630px) {
  .TopNav {
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
    grid-template-rows: 17% 17% 17%;
    grid-template-columns: 49% 49%;
    grid-template-areas: "logo home" "logo about" "contact blank"; }
  #logo {
    grid-area: logo; }
  #home {
    grid-area: home; }
  #about {
    grid-area: about; }
  #contact {
    grid-area: contact; }
  #blank {
    grid-area: blank; }
  .Bar {
    height: 0.5em;
    margin-top: 3%; } }

body {
  margin: 0em; }
