nav {
  padding: 1%; }
  nav .Bar {
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center; }
    nav .Bar:hover, nav .Bar:active {
      background-color: #9FA615;
      color: black; }

.TopNav {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden; }
  .TopNav .Current {
    background-color: #9FA615;
    color: black; }
  .TopNav .LogoAnchor {
    height: 6em;
    flex-basis: 20%;
    background-color: transparent;
    padding-top: 0em; }
  .TopNav .LogoImage {
    width: 8em;
    height: 5.3em; }
  .TopNav .RoundedLeft {
    border-radius: 10px 0px 0px 10px; }
  .TopNav .RoundedRight {
    border-radius: 0px 10px 10px 0px; }
  .TopNav a {
    color: #f2f2f2;
    text-align: center;
    padding: 0.6em 0.7em;
    text-decoration: none;
    font-size: 1.5em;
    flex: 1;
    height: 1.6em;
    background-color: #455560; }

.GradientSwoop {
  height: 16em;
  background: linear-gradient(to left, #455560 70%, #9FA615);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.InnerSwoop {
  background-color: white;
  height: 200px;
  border-bottom-left-radius: 75px; }

/*@keyframes navtext {
    0% {
        transform: ;
    }

    25% {
        transform: scale(1.30, 1.30);
    }

    50% {
        transform: scale(1.25, 1.25);
    }

    100% {
        transform: scale(1, 1);
    }
}
*/
/*@media all and (max-width: 600px) {

.topnav {
flex-wrap: wrap;
}

.topnav > a {
flex-basis: 50%;
}
}

@media all and (max-width: 400px) {
.topnav > a {
flex-basis: 100%;
}
}*/
body {
  margin: 0em; }
