body {
}

.teamContainer {
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "teamChrista teamChristaParagraph" "teamSamuel teamSamuelParagraph";
}

#teamChrista
{
    width: 75%;
    grid-area: teamChrista;
}

#teamChristaParagraph
{
    font-size: 30px;
    grid-area: teamChristaParagraph;
}

#teamSamuel
{
    grid-area: teamSamuel;
}

#teamSamuelParagraph
{
    margin-top: 20%;
    font-size: 30px;
    grid-area: teamSamuelParagraph;
}